<h1>Preencha seu pedido</h1>

<h2>Evento: OneBitConf</h2>

<%= form_tag orders_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <h3>
      <%= tag.label 'Identificador do Pedido' %><br>
      <%= tag.input type: 'text', name: 'order[ownId]',
          value: 'pedido-0001', autofocus: true, id: :ownId %>
    </h3>

    <h3>
      <%= tag.label 'Identificador do Produto' %><br>
      <%= tag.input type: 'text', name: 'order[product]',
          value: 'Ingresso para a OneBitConf', size: 40, id: :product %>
      </h3>

    <h3>
      <%= tag.label 'Identificador do Cliente' %><br>
      <%= tag.input type: 'text', name: 'order[customerOwnId]',
          value: 'customer-001', size: 20, id: :customerOwnId %>
      </h3>

    <h3>
      <%= tag.label 'Nome Completo do Cliente' %><br>
      <%= tag.input type: 'text', name: 'order[customerFullName]',
          value: 'Jose da Silva', size: 40, id: :customerFullName %>
    </h3>

    <h3>
      <%= tag.label 'Email do Cliente' %><br>
      <%= tag.input type: 'text', name: 'order[customerEmail]',
          value: 'jose_da_silva@gmail.com', size: 40, id: :customerEmail %>
    </h3>

    <p>
      <%= tag.button type: :submit do %>
        Confirma
      <% end %>
    </p>
  </article>

<% end %>